<h1>New Game</h1>
<div class="container"><% @letters[0..10].each do |letter| %>
  <div class="letter"><span><%= letter %></span></div>
  <% @letters_random += letter %>
  <% end %>
</div>

<p>What is the longest word you can find?</p>
<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="letters" value=<%= @letters_random %> />
  <input type="text" name="word" placeholder="Word?">
  <input type="submit" value="Play">
</form>


